/*Colors*/
$blue: #0730FB;
$sky-blue:#16B1EA;
$sky-blue-light:#CEE0FF;
$king-blue: #0C2188;
$aqua:#5FDDFF;
$white: #ffffff;
$light-black:#4A4A4A;
$no-color:#ffffff00;

.blue-color{
    color: $blue !important;
}
.light-black{
    color: $light-black !important;
}
.bg-color{
background-color: $blue;

}